body {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	text-align: center;
}

a {
	text-decoration: none;
	color: #2274ff;
}

a:hover {
	color: #68a9ee;
}

body > div.centeredMainBlock {
	/* positions, margin */
	position: relative;
	/* dimensions and padding */
	/* view */
	display: inline-flex;
	flex-direction: column;
}

/**
 * https://www.w3.org/TR/css-flexbox-1/
 */
body > div.centeredMainBlock > form {
	/* positions, margin */
	margin-top: 15px;
	/* dimensions and padding */
	/* view */
	display: inline-flex;
	flex-direction: column;
}

body > div.centeredMainBlock > form input {
	/* positions, margin */
	margin-top: 5px;
	/* dimensions and padding */
	/* view */
	display: block;
}

body > div.centeredMainBlock > form p {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	text-align: left;
}

body > div.centeredMainBlock > h2 {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	text-align: left;
}

body > div.centeredMainBlock > table {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	border-collapse: collapse;
	border: 1px solid #000000;
}

body > div.centeredMainBlock > table th, body > div.centeredMainBlock > table td {
	/* positions, margin */
	/* dimensions and padding */
	min-width: 150px;
	max-width: 250px;
	padding: 5px 10px 5px 10px;
	/* view */
	border-collapse: collapse;
	border: 1px solid #000000;
}

body > div.centeredMainBlock > table td:nth-child(2) {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	text-align: right;
}

/****************************
 *							*
 * 			ERRORS			*
 *							*
 ****************************/
.error {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	display: inline-block;
	color: rgb(255,0,0);
}

.hidden {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	display: none;
}